body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    background-color: #02160b;
}
.header_bg {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 1080px;
    background: url(./assets/images/header.jpg)  center  no-repeat;
    background-size: cover;
    background-color: #02160b;
    margin: 0;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_wrapper {
    max-width: 1000px;
    max-height: 780px;
    width: 90%;
    height: 100%;
    padding-top: 19px;
}
.header_container {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    color: #F7F7F7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav .header_nav {
    position: fixed;
}
.wildlife_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.wildlife_name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    color: #F7F7F7;
    margin: 0;
    padding-left: 15px;
}
.header_list {
    width: 480px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding-left: 0;
    font-family: 'Open Sans', sans-serif;
}
.header_link {
    text-decoration: none;
    color: #F7F7F7;
}
.header_link:hover {
    color: #CD6326;
    transition: 0.5s ease all;
}
.search:hover {
    fill: #CD6326;
    transition: 0.5s ease all;
}
.sign_in {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 22px;
    padding-right: 22px;
    border: 2px solid #CD6326;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.sign_in:hover {
    background-color: #CD6326;
    color: #F7F7F7;
    transition: all 0.5s ease-out;
}


/* survival */

.survival {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    color: #F7F7F7;
    height: 500px;
}

h1 {
    color: #CD6326;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    margin-top: 120px;
    width: 199px;
    height: 72px;
}

.survival_article {
    margin-top: 51px;
    width: 274px;
    height: 108px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

.donate_button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: #CD6326;
    margin-top: 49px;
    width: 160px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    border-radius: 5px;
}

.donate_button:hover {
    cursor: pointer;
    background: #e39128;
  }
  
.donate_button:active {
    background: #8f5613;
  }

/* Latest article */

.la_bg {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #CCCCCC;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.la_wrapper {
    max-width: 1000px;
    width: 100%;
    color: #333333;
    height: 1400px;
}

.la_headding {
    padding-top: 120px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #333333;
}

.news {
    margin: auto;
    margin-top: 20px;
    width: 350px;
    height: 36px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #666666;
    text-align: center;
}

.gallery_wrapper {
    margin-left: 4px;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.gallery_wrapper svg path:hover {
    fill: #333333;
    cursor: pointer;
}

.legend_wrapper {
    top:48%;
    left:50%;
    transform:translate(-50%, -50%); 

    position: absolute;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 920px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #F7F7F7;
}
.legend {
    width: 300px;
}
.animal {
    margin: 0;
    font-weight: 300;
}
.article_names {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 27px;
}

/* get notified */

.get_notified {
    margin-top: 239px;

    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #333333;
}

.email_form {
    margin: 0 auto;
    margin-top: 60px;
    border: none;
    max-width: 680px;
    height: 62px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.email {
    width: 510px;
    align-items: center;
    padding: 16px 16px;
    background-color: transparent;
    border: 1px solid #666666;
    border-right: none;
}

.email::placeholder {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    padding-left: 13px;
    font-size: 23px;
    line-height: 27px;
    color: #666666;
    

  }

.submit {
    padding:0; 
    margin:0;
    border:0;
    background-color:transparent;

    width: 120px;
    height: 62px;

    
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 0px 5px 5px 0px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #F7F7F7;
}

/* footer */

.footer_bg {
    background: url(./assets/images/footer.jpg) no-repeat;
    background-color: #181617;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 1080px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    height: 360px;
}
.footer_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer_wildlife {
    display: flex; 
    width: 240px;
}

.footer_list {
    width: 480px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding-left: 0;
    font-family: 'Open Sans', sans-serif;
}
.footer_navigation_container {
    display: flex;
    justify-content: space-between;
}

.footer_navigation_container a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
}
.footer_navigation_container a:hover {
    border-bottom: 1px solid white;
    transition: 1s ease all;
}

.socials_container {
    width: 240px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}




.social:hover {
    transition: 1s ease all;
    background-color: #F7F7F7;
}
.f {
    background: url(./assets/images/f.svg) no-repeat;
    width: 40px;
    height: 40px;
}
.i {
    background: url(./assets/images/i.svg) no-repeat;
    width: 40px;
    height: 40px;
}
.p {
    background: url(./assets/images/p.svg) no-repeat;
    width: 40px;
    height: 40px;
}
.t {
    background: url(./assets/images/t.svg) no-repeat;
    width: 40px;
    height: 40px;
}
/* .f:hover {
    background-color: #F7F7F7;
}

.i:hover {
    background-color: #F7F7F7;
}

.p:hover {
    background-color: #F7F7F7;
}

.t:hover {
    background-color: #F7F7F7;
} */